CrisisAtSwissStation/bin/
CrisisAtSwissStation/obj/*
CrisisAtSwissStation.suo
CrisisAtSwissStation/Content/obj/*
Build
Output/*
CrisisAtSwissStation/CrisisAtSwissStation.csproj.Debug.cachefile
CrisisAtSwissStation/CrisisAtSwissStation.csproj.Release.cachefile
CrisisAtSwissStation/Content/Thumbs.db
CrisisAtSwissStation/Content/LevelDesigner/Thumbs.db
*~
