CrisisAtSwissStation/bin/
CrisisAtSwissStation/obj/*
CrisisAtSwissStation.suo
CrisisAtSwissStation/Content/obj/*
Build
Output/*
CrisisAtSwissStation/CrisisAtSwissStation.csproj.Debug.cachefile
CrisisAtSwissStation/CrisisAtSwissStation.csproj.Release.cachefile
CrisisAtSwissStation/Content/Thumbs.db
CrisisAtSwissStation/Content/LevelDesigner/Thumbs.db
CrisisAtSwissStation/Content/Art/Thumbs.db
CrisisAtSwissStation/Content/Art/Backgrounds/Thumbs.db
CrisisAtSwissStation/Content/Art/Objects/Thumbs.db
CrisisAtSwissStation/Content/Art/Objects/AnimationObjects/Thumbs.db
CrisisAtSwissStation/Content/Art/Objects/AnimationObjects/strips/Thumbs.db
CrisisAtSwissStation/Content/Art/Objects/BoxObjects/Thumbs.db
CrisisAtSwissStation/SAVEDGAME.sav
*~
CrisisAtSwissStation/Levels/*.world
*.db
Thumbs.db
*/Thumbs.db
*Thumbs.db
